/* header */
header{
   height: 50px;
    background-color: #f8f9fa;
}
header img{
    max-width: 100%;
    max-height: 50px;
}

.fa-bell{
    color: #ffc107;
}
/* main */
.main_content_top{
    display: flex;
    height: calc(100vh - 50px);
}
/* aside */
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    background-color: #051e34;
}

aside a{
    color: white;
    text-decoration: none;
}
aside li{
    list-style: none;
    margin-top: 20px;
    color: white;
}

aside span{
    padding-left: 2rem;
}

/* @media screen and (max-width:768px) {
    aside{
        width: 50px;
    }
} */

#main_content_bottom{
    width: calc(100% - 150px );
    overflow: scroll;
    background-color: lightgray;
}

#main_top{
    color: white;
    background-color: #1b72e8;
    height: 90px;
}

.breadcrumb li{
    padding-left: 10px;
}
.breadcrumb a{
    color: white;
}

/* main bottom */
#main_bottom{
    background-color: aqua;
}

/* .class{
    background-color: #ffc107;
    height: 100px;
}

.faq{
    background-color: #1b72e8;
    height: 100px;
    margin-top: 100px;
}

.todo{
    background-color: burlywood;
    height: 100px;
}

.users{
    background-color: chartreuse;
    height: 100px;
    margin-top: 100px;
} */