section{
    margin-top: 20px;
}

.label{
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

/* header */
header{
   height: 50px;
    background-color: #f8f9fa;
}
header img{
    max-width: 100%;
    max-height: 50px;
}

.fa-bell{
    color: #ffc107;
}
/* main */
.main_content_top{
    display: flex;
    height: calc(100vh - 50px);
}
/* aside */
aside{
    width: 150px;
    background-color: #051e34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 40px;
    padding-left: 40px;
}

aside a{
    color: white;
    text-decoration: none;
}

aside ul{
    padding: 0;
    margin:0;
}

aside li{
    list-style: none;
    color: white;    
}

/* main content */

#main_content_bottom{
    width: calc(100% - 150px );
    overflow: scroll;
    
}

#main_top{
    color: white;
    background-color: #1b72e8;
    padding-top: 20px;
    height: 100px;
}


@media screen and (max-width:810px) {
    aside{
        width: 50px;
        text-align: center;
        padding-left:0;

    }

    /* #main_top{
        height: 200px;
        padding: 0;
       
    } */

    #main_content_bottom{
        width: calc(100% - 50px );
    }
}

.breadcrumb li{
    padding-left: 10px;
}
.breadcrumb a{
    color: white;
}

.blue{
    background-color: #165bba;
    border-radius: 20px;
}

/* offcanvas */

.offcanvas{
    --bs-offcanvas-width: 50%;
}
@media screen and (max-width:810px) {
    .offcanvas{
        --bs-offcanvas-width: 100%;
    }
}

/* main bottom */

.card{
    font-size: 12px;
}

.fa-code{
    padding: 5px;
    margin-right: 5px;
    background-color: #f26551;
    color: white;
    border-radius: 50%;
}

/* prossime classi */
.avatar{
    width: 20px;
}

.done{
    background-color: #198754;
}

.process{
    background-color: #ffc107;
}

.failed{
    background-color: #dc3545;
}