/* header */
header{
   height: 50px;
    background-color: #f8f9fa;
}
header img{
    max-width: 100%;
}

.fa-bell{
    color: #ffc107;
}
/* main */
.main_content_top{
    display: flex;
    height: calc(100vh - 50px);
}
/* aside */
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    background-color: #051e34;
}

aside a{
    color: white;
    text-decoration: none;
}
aside li{
    list-style: none;
    margin-top: 20px;
}

aside span{
    padding: 0 0 0 2rem;
}


#main_content_bottom{
    width: calc(100% - 150px );
    overflow: scroll;
    background-color: lightgray;
}

#main_top{
    background-color: #1b72e8;
    height: 90px;
}

#main_bottom{
    background-color: aqua;
}